<head>
    <title>Customer Manager</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/styles.css" rel="stylesheet" />
</head>
<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Customer Orders</h3>
        </header>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div>
                        <h4>Orders for <a href="#">vm-customer-firstName + ' ' + vm-customer-lastName  <i class="icon-edit editIcon"></i></a></h4>
                        customer-address
                        <br />
                        customer-city, customer-state-name
                        <br /><br />
                    </div>
                    <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
                        <thead>
                            <tr>
                                <th >Product</th>
                                <th >Date</th>
                                <th >Quantity</th>
                                <th >Unit Price</th>
                                <th >Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  class="error">
                                <td colspan="5">
                                    <div class="text-center"><strong>No orders found</strong></div>
                                </td>
                            </tr>
                            <tr class="repeat-animation">
                                <td>
                                    product 
                                </td>
                                <td>
                                    04/12/2017
                                </td>
                                <td>
                                    quantity
                                </td>
                                <td>
                                    price 
                                </td>
                                <td>
                                    orderTotal
                                </td>
                            </tr>
                            <tr class="info">
                                <td colspan="4">
                                    &nbsp;
                                </td>
                                <td>
                                    <strong>customer-ordersTotal </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
